<div class="container">
  <h2><%= @list.name %></h2>

  <%= cl_image_tag @list.photo.key, height: 300, width: 400, crop: :fill %>

  <table
    class="table table-light table-striped"
  >
    <thead>
      <tr>
        <th>Title</th>
        <th>Overview</th>
        <th>Poster URL</th>
        <th>Rating</th>
        <th>My Comments</th>
      </tr>
    </thead>

    <tbody>
      <% @list.movies.each do |movie| %>
      <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.overview %></td>
          <td><%= movie.poster_url %></td>
          <td><%= movie.rating %></td>
          <td><%= bookmark.comment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<hr>

<div class="container text-center">
  <%= link_to 'Add a movie', new_list_bookmark_path(@list) %> |
  <%= link_to 'Back', lists_path %>
</div>
