<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="banner">
      <h1
        class="text-center mt-3">
        <%= link_to 'Watch List', root_path %>
      </h1>
      <nav
        class="navbar navbar-light "
      >
        <div class="container">
          <%= link_to 'My lists', lists_path %>
          <%= link_to 'New list', new_list_path %>
        </div>
      </nav>
    </div>
    <hr>
    <%= yield %>
  </body>
</html>
